.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem {
  position: relative;
  color: white;
  overflow: hidden;
  height: 160px;
}
.featuredImg {
  width: 100%;
  object-fit: cover;
}
.featuredTitles {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
